extends layout

block content
  header.header
    div
      h1.fade-in= title
      p.fade-in Less code, more functionality.

  section.description
    .third
      h2 Can I chat with you?
      p If you want to learn more about how to use or contribute to Easify, you can find us in our #[a(href="https://gitter.im/salexzee/Easify?utm_source=share-link&utm_medium=link&utm_campaign=share-link") Gitter chat] or if you're not into the live chat, you can always submit an issue on our #[a(href="https://github.com/salexzee/Easify/issues") GitHub page].

    .third
      h2 Where can I get it?
      p There are 2 places to acquire EasifyJS. You can go to the #[a(href="https://github.com/salexzee/Easify") GitHub page]. Or if you're a Node user, you can get it from the #[a(href="https://www.npmjs.com/package/easifyjs") NPM] page or by running #[span.inline-code npm install easifyjs].

    .third
      h2 What is EasifyJS?
      p Easify is a small JavaScript library that provides a plethora of clear, easy to use functions, which save you time and make your code easier to read and write.

