doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar
      p: a(href="/") EasifyJS
      ul
        li: a(href="https://github.com/salexzee/Easify#documentation" target="_blank") Docs
        li: a(href="https://www.npmjs.com/package/easifyjs" target="_blank") Download
        li: a(href="https://github.com/salexzee/Easify/blob/master/CONTRIBUTE.md" target="_blank") Contribute
    block content
