/* Keyframes */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes dropIn { from { margin-top:-50px; } to { margin-top:0; } }
@-moz-keyframes dropIn { from { margin-top:-50px; } to { margin-top:0; } }
@keyframes dripIn { from { margin-top:-50px; } to { margin-top:0; } }


/* Animations */
.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
 
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
 
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}


/* Styles */
html {
  height: 100%;
}

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

.navbar {
  position: relative;
  width: 100%;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  background: #fff;
  z-index: 100;
}

.navbar ul {
  padding: 0 10px 0 0;
  margin: 0;
  display: inline-block;
  float: right;
}

.navbar ul li {
  display: inline-block;
  font-size: 1.1em;
  padding: 10px 5px;
}

.navbar ul a:hover {
  color: tomato;
}

.navbar ul li,
.navbar p,
.header h1,
.header p {
  transition: 1s;
}

.navbar p,
.navbar a,
.header{
  color: #555;
}

.navbar p {
  margin: 0;
  padding: 10px 0 10px 10px;
  letter-spacing: .2em;
  font-size: 1.3em;
  display: inline-block;
}

.header {
  background: #fcfcfc;
  height: 45%;
  min-height: 180px;
  position: relative;
  border-bottom: 1px #555 solid;
}

.header div {
  position: absolute;
  bottom: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.header h1 {
  font-size: 5em;
  margin: 0;
  font-weight: 100;
  margin-left: -5px;
  transform: rotate(5deg);
}

.header p {
  font-size: 1.3em;
  margin: 0;
}

@media screen and (max-width: 600px) {
  body {
    font-size: .65em;
  }
}